<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [ngModel]="listFilter" (ngModelChange)="searchText($event)">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Filter by: {{listFilter}}</h4>
        </div>
    </div>
    <div class="table-reponsive">
        <table class="table" *ngIf="filteredProducts && filteredProducts.length">
            <tr>
                <th>
                    <button (click)="toggleImageText()" class="btn btn-primary">
                        {{isShowImage?'Hide':'Show'}} Image
                    </button>
                </th>
                <th>Product</th>
                <th>Code</th>
                <th>Available</th>
                <th>Price</th>
                <th>5 Star Rating</th>
            </tr>
            <tbody>
                <tr *ngFor="let product of filteredProducts">
                    <td>
                        <img *ngIf="isShowImage" width="50px" height="50px" src={{product.imageUrl}}>
                    </td>
                    <td>
                        <a [routerLink]="['/products', product.productId]">{{ product.productName }}</a>
                    </td>
                    <td>{{ product.productCode | lowercase | convertToSpace: '-' }}</td>
                    <td>{{ product.releaseDate }}</td>
                    <td>{{ product.price | currency: 'INR' }}</td>
                    <td>
                        <app-star [rating]="product.starRating" (notifyRatingClicked)="onRatingClicked($event)">
                        </app-star>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>